@media only screen and (max-width: 576px){
    .inner-content{
       width: 100% !important;
       margin: 0px !important;
    }
    .hero-title{
        width: 100% !important;
        margin: 0px !important;
    }
    .hero-description{
        width: 100% !important;
        margin: 0px !important;
        margin: 20px 0px !important;
        line-height: 30px !important;
    }
    .hero-btn{
        width: 80% !important;
    }
    .hero-input{
        padding: 0px 10px !important;
    }
    .hero-submit{
        padding: 7px 10px !important;
        font-size: 10px;
    }
    .hero-input::placeholder{
        font-size: 10px;
        padding: 0px !important ;
        margin:  0px !important ;
    }
    /* second section  */
    .second-container{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .second-text-box{
        margin-top: 20px !important;
    }
    .second-description{
        margin: 0px !important;
        width: 100% !important;
    }
    .cards{
        padding: 20px !important;
    }
}