.container-title{
    font-family: 'EB Garamond' !important;
}
/* nav bar style start  */
.cros-icon{
    filter: brightness(0) invert(1);
}
.nav-item:hover, .nav-link:hover{
    color: #B68C5A !important;
    transition: all 0.2s ease-in-out;
}
.Consultation-btn:hover{
    border: 1px solid #B68C5A !important;
    color: #B68C5A !important;
    background-color: #fff !important;
    transition: all 0.4s ease-in-out;
}
.modal-footer .close-btn:hover{
    background-color:  #B68C5A !important;
    color: #fff !important;
    transition: all 0.4s ease-in-out;
}
/* nav bar style end  */
/* hero style start  */
.hero-container{
    background-image: url("./images/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}
.hero-content{
    background: rgb(0,0,0);
    background: linear-gradient(357deg, rgba(0,0,0,1) 0%, rgba(34,210,202,0) 100%, rgba(9,19,121,1) 100%);
    height: 100%;
}

.hero-description{
    color: #E7E7E7 !important;
}
.hero-input{
    outline: none;
    border-radius: 5px 0px 0px 5px;
}
.hero-submit{
    background-color:  #B68C5A !important;
    color: white;
    border-radius: 0px 5px 5px 0px;
}
.hero-input::placeholder{
    text-transform: uppercase;
    color: #B68C5A;
}
/* hero style end  */
/* seond section style start */
.second-container , .third-container , .fourth-container , .fiveth-container{
    margin-top: 0px;
    margin-bottom: 50px;
}
.second-text-box, .third-text-box , .fourth-text-box , .fiveth-text-box{
    margin-top: 150px;
    margin-bottom: 50px;
}
.card-body i{
    background-color: #B68C5A;
    padding: 6px;
}
.cards-1{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(34,210,202,0) 100%, rgba(9,19,121,1) 100%);
}
.cards-2:hover{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(34,210,202,0) 100%, rgba(9,19,121,1) 100%);
}
/* seond section style end */

/* fourth section  */
.accordian-bg{
    background-color: #dbdbdb;
}

/* five section  */
.five-card{
    background-color: #f1f1f1;
}
.five-card i{
    color: #B68C5A;
}
.form input , .form textarea{
    background-color: #f1f1f1;
    outline: none;
}
.form input::placeholder , textarea::placeholder{
    color: #B68C5A;
}
.Send-Massage{
    background-color: #B68C5A !important;
}
.carousel-p{
    font-size: 6px;
}